@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,500i,700");
@import "./top-section.css";
@import "./services.css";
@import "./projects.css";
@import "./experience-section.css";
@import "./footer-section.css";

html,
body {
  /*background: #eee;*/
  width: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
}
